#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 30px;
}

#platform {
    width: 60px;
    height: 60px;
    padding-right: 15px;
}

.contact-links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    color: #000;
}

.contact-links p {
    font-family: 'Lato', sans-serif;
    border-left: 8px solid rgb(214, 121, 121);
    padding: 20px;
    font-size: 1.4rem;
}

#contact-statement {
    border-top: 1px solid rgb(139, 139, 139);
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 20px;
    margin-bottom: 0;
}

/* TABLET SIZING */
@media screen and (max-width: 811px) {
    .contact-links p {
        font-size: 1rem;
        padding: 15px;
    }

    #platform {
        width: 50px;
        height: 50px;
    }

    #contact-statement {
        font-size: 1.2rem;
    }
}

/* MOBILE SIZING */
@media screen and (max-width: 500px) {
    #contact {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #platform {
        height: 50px;
        width: 50px;
    }

    .contact-links p {
        font-size: .75rem;
        letter-spacing: 1px;
    }

    #contact-statement {
        font-size: .85rem;
        line-height: 25px;
        padding-top: 30px;
    }
}