/* ABOUT SECTION */
#index {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 30px;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 60%;
}

.about-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    border: 1px solid rgb(150, 150, 150);
    width: 100%;
}

/* PROFILE PICTURES */
.profile {
    width: 100%;
    height: 300px;
    background-image: url(../img/profile/landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 2px 2px rgb(75, 75, 75, .5);
}

#md {
    width: 200px;
    height: 200px;
    border-radius: 250px;
    border: 2px solid rgb(65, 65, 65);
    position: absolute;
    top: 65%;
    left: 4%;
}

/* PROFILE BODY */
.profile-body {
    display: flex;
    flex-direction: row;
    background-color: rgba(135, 152, 153, 0.37);
}

.name-title {
    margin: 70px 10px 70px 3.2vw;
    width: 805px;
}

#name {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 900;
    color: rgb(17, 17, 17);
}

#desc {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    color: rgb(17, 17, 17);
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#origin {
    font-family: 'Quicksand', sans-serif;
    color: rgb(17, 17, 17);
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: .5px;
}

.wall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wall p {
    border-left: 5px solid rgb(49, 145, 158);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 15px;
}

#top {
    margin: 20px 0 0 0;
}

/* MOBILE SIZING */
@media screen and (max-width: 1250px) {
    .profile-body {
        flex-direction: column;
        align-items: center;
    }

    .name-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
    }

    #name {
        font-size: 32px;
    }

    #origin {
        text-align: center;
        width: 80%;
        font-size: 26px;
        border-bottom: 1px solid rgb(124, 124, 124);
        padding-bottom: 15px;
    }

    #desc {
        font-size: 28px;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
    }

    #md {
        top: 70%;
        left: auto;
        width: 170px;
        height: 170px;
    }

    .wall {
        width: 90%;
        margin: auto;
    }



    #top {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 90%;
        border-left: none;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    #md {
        width: 150px;
        height: 150px;
        top: 60%;
    }

    #origin {
        font-size: 20px;
    }

    #desc {
        text-align: center;
        font-size: 26px;
    }

    #index {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .profile {
        height: 170px;
    }
}