/* ABOUT SECTION */

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 30px;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 60%;
}

.about-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    border: 1px solid rgb(150, 150, 150);
    width: 100%;
}

/* PROFILE PICTURES */
.profile {
    width: 100%;
    height: 250px;
    background-image: url(../img/profile/landscape1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 2px 2px rgb(75, 75, 75, .5);
}

#md {
    width: 200px;
    height: 200px;
    border-radius: 250px;
    border: 2px solid rgb(65, 65, 65);
    position: absolute;
    top: 60%;
    left: 4%;
}

/* PROFILE BODY */
.profile-body {
    display: flex;
    flex-direction: row;
    background-color: rgba(135, 152, 153, 0.37);
}

.name-title {
    margin: 70px 10px 70px 3.2vw;
    width: 525px;
}

#name {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 900;
}

#desc {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    color: rgb(223, 223, 223);
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#origin {
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    margin-top: 10px;
    letter-spacing: .5px;
}

.wall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.wall p {
    border-left: 5px solid rgb(49, 145, 158);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
}

#top {
    font-size: 22px;
    width: 80%;
    margin: 5px 0;
}

#bottom {
    font-size: 16px;
    width: 80%;
    margin: 5px 0 20px 0;
}

@media screen and (max-width: 1100px) {
    .profile-body {
        flex-direction: column;
        align-items: center;
    }

    .name-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
    }

    #name {
        font-size: 32px;
    }

    #desc {
        font-size: 28px;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #md {
        top: 70%;
        left: auto;
        width: 150px;
        height: 150px;
    }

    .wall {
        width: 90%;
        margin: auto;
    }

    #top {
        font-size: 18px;
    }

    #bottom {
        font-size: 13px;
    }
}