#projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 30px;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.work-box {
    margin: 2%;
    padding: 30px;
    border: 1px solid #d6d6d6;
    width: 90%;
    height: 20%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    /* transition: transform 0.5s, filter 0.5s, opacity 0.5s, box-shadow 0.5s, height 6.5s; */
}

.work-box p:not(#title) {
    display: none;
}

.work-box a {
    display: none;
}

/* HOVER EFFECT FOR PROJECT CARDS */
/* .box-container:hover .work-box {
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(.98);
    box-shadow: none;
}

.box-container:hover .work-box:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    background-color: #cfcfcf;
    height: 100%;
}

.box-container:hover .work-box:hover p:not(:first-child) {
    display: block;
}

.box-container:hover .work-box:hover a {
    display: inline-block;
} */