#projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 30px;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.work-box {
    margin: 2%;
    padding: 30px;
    border: 1px solid #726d6d;
    background-color: #c5c5c5;
    width: 70%;
    height: 20%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 10px;
    overflow: hidden;
}

.work-box p:not(#title) {
    display: none;
}

.work-box a {
    display: none;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #2B839F;
    font-size: 18px;
    font-weight: 600;
}

.expand {
    background-color: transparent;
    border: transparent;
    float: right;
    margin: 30px 0;
    font-size: 14px;
}

.expand:hover {
    cursor: pointer;
}

#title {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

#lang {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    border-top: 3px solid black;
    padding-top: 20px;
}

#lang span {
    color: #2B839F;
    font-weight: 600;
}

#proj-info {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
}

#proj-info span {
    font-weight: 600;
    color: #2B839F;
}

@media screen and (max-width: 811px) {
    .work-box {
        width: 80%;
    }

    .expand {
        font-size: 12px;
    }

    #title {
        font-size: 20px;
    }
    
    #lang {
        font-size: 16px;
    }
    
    #proj-info {
        font-size: 14px;
    }

    .work-box a {
        font-size: 16px;
    }
}