#projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 30px;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.box-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
}

.work-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #726d6d;
    background-color: #c5c5c5;
    width: 50%;
    height: 20%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.work-box a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #2B839F;
    font-size: 18px;
    font-weight: 600;
}

#card-container {
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

#mobile-project {
    height: 20rem;
    width: 10rem;
}

#title {
    margin: 0 auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    border-bottom: 3px solid black;
    width: 80%;
}

#lang {
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    color: #2B839F;
    font-weight: 600;
}

#lang span {
    color: rgb(46, 46, 46);
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
}

#proj-info {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
    width: 100%;
    color: rgb(31, 31, 31);
}

#proj-info span {
    font-weight: 600;
    color: #2B839F;
}

@media screen and (max-width: 811px) {
    .work-box {
        width: 80%;
    }

    .expand {
        font-size: 12px;
        padding: 8px;
        background-color: #aca4a43b;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.301);
        box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.4);
    }

    #title {
        font-size: 18px;
        margin-top: 36px;
    }
    
    #lang {
        font-size: 16px;
    }
    
    #proj-info {
        font-size: 14px;
    }

    .work-box a {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    #projects {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #title {
        margin-top: 18px;
        font-size: 14px;
    }

    .expand {
        font-size: 11px;
        margin: 10px 0;
    }
}