/* TECH SECTION */

#tech {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 30px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.tech-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech-list p {
    font-family: 'Inter', sans-serif;
    background-color: rgba(207, 207, 207, 0.384);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin: 10px;
    width: 140px;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 5px 5px 0px rgb(255, 0, 0);
}

.tech-list h3 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 24px;
    width: 60%;
    margin: 40px;
    font-weight: 100;
    text-shadow: 2px 2px 0 #9b9b9b;
    letter-spacing: 2px;
    line-height: 35px;
}

.stack {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#stack-img {
    width: 180px;
    height: 180px;
    margin: 10px;
}