/* TECH SECTION */
#tech {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 30px;
}

.tech-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.tech-list h3 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 26px;
    font-weight: 400;
    border-left: 7px solid rgb(201, 54, 54);
    padding: 10px;
}

#line-sep {
    width: 100%;
    position: relative;
    margin: auto;
}

#line-sep::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #505050, #000000, #505050);
    margin: auto;
}

.tech-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.top,
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top p, .bottom p {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 20px;
    width: 70%;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: rgb(32, 32, 32);
    /* background-color: #c0c0c0; */
    border: 3px solid rgb(49, 49, 49);
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); */
}

@media screen and (max-width: 811px) {
    .top,
    .bottom {
        flex-direction: column;
    }

    .top p,
    .bottom p {
        margin: 10px auto;
    }

    .tech-stack {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .tech-list h3 {
        font-size: 18px;
    }
}