/* BODY SECTION */
body {
    background-color: #cccccc;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    max-width: 1536px;
}

/* NAV SECTION */
.nav-links {
    left: .5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: 'Vina Sans', sans-serif;
    font-size: 1.6em;
    padding: 10px;
    width: 6rem;
}

.nav-links a {
    margin: 20px 0;
    text-decoration: none;
    color: #a86060;
    width: 70%;
    padding-bottom: 5px;
}

#active-link {
    /* border-bottom: 3px solid #454545; */
    color: rgb(20, 132, 197);
    font-size: 1.1em;
}

/* SECTION HEADER TITLE */
.title {
    display: flex;
    align-items: center;
    margin: 0;
    border-left: 20px solid #2B839F;
    border-bottom: 5px solid #2B839F;
}

.title h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 80px;
    margin: 0;
    padding-left: 20px;
    text-shadow: 4px 4px 0px #45454563;
}

.title h1 span {
    color: #2B839F;
    margin-left: 5px;
}

/* MOBILE MENU */
#mobile-navigation {
    position: absolute;
    top: 55px;
    right: 30px;
}

.mobile-menu {
    margin-left: auto;
    display: none;
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.line {
    width: 100%;
    height: 5px;
    background-color: #000000;
    position: absolute;
    transition: transform .3s ease;
    border-radius: 50px;
}

.line:nth-child(2) {
    top: 50%;
    transform: translateY(-58%);
}

.line:nth-child(1) {
    top: 0;
}

.line:nth-child(3) {
    bottom: 0;
}

.mobile-nav {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    font-family: 'Vina Sans', sans-serif;
    font-size: 36px;
    background-color: #cccccc;
    z-index: 1;
    padding-top: 200px;
}

.mobile-nav a {
    display: block;
    color: #a86060;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
}

/* FOOTER SECTION */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0;
    padding: 20px;
}

.footer p {
    margin: 0;
    padding: 10px;
    color: rgb(207, 207, 207);
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
}

#soc-logo {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 811px) {
    .container {
        width: 99%;
        margin: auto;
    }

    .title h1 {
        font-size: 44px;
        text-shadow: 3px 3px 0px #45454563;
    }

    /* MOBILE NAV MENU */
    .nav-links {
        display: none;
    }

    #active-link {
        border-bottom: none;
        font-size: 48px;
    }

    .mobile-menu {
        display: block; /* Show hamburger on smaller screens */
    }

    .mobile-nav.active {
        display: block; /* Show mobile nav when active */
    }
}

@media screen and (max-width: 500px) {
    .title h1 {
        font-size: 34px;
        text-shadow: 2px 2px 0px #45454563;
    }

    #mobile-navigation {
        top: 45px;
    }

    .footer p {
        font-size: 12px;
    }
}