/* BODY SECTION */
body {
    background-color: #cccccc;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    max-width: 1536px;
}

/* NAV SECTION */
.nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: 'Vina Sans', sans-serif;
    font-size: 22px;
    padding: 10px;
    width: 5%;
}

.nav-links a {
    margin: 20px 0;
    text-decoration: none;
    color: #a86060;
    width: 100%;
    padding-bottom: 5px;
}

#active-link {
    border-bottom: 3px solid #454545;
    color: rgb(20, 132, 197);
}

/* SECTION HEADER TITLE */

.title {
    margin: 0px;
}

.title h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 80px;
    margin: 0;
    padding-left: 20px;
    text-shadow: 7px 7px 0px #454545;
    border-left: 20px solid #2B839F;
    border-bottom: 5px solid #2B839F;
}

.title h1 span {
    color: #2B839F;
}

@media screen and (max-width: 811px) {
    .container {
        width: 99%;
        margin: auto 5px;
    }

    .title h1 {
        font-size: 44px;
    }

    .nav-links {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .title h1 {
        font-size: 34px;
    }
}